*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('./dict.jpg');
    color: white;
}

.container1{
    display: flex;
    justify-content: center;
    padding: 20px;

}

.container1 h1{
    font-size: xx-large;
    
}


.button{
    height: 40px;
    width: 150px;
    color:white;
    font-size: x-large;
    border-radius: 20px;
    background-color: black;
    
}

.input{

    display: flex;
    justify-content: center;
    padding: 20px;
    height: 200px;
    width: 100%;
   
  
   
    
}
.dict-data{
    margin-top: 50px;
}
label{
    font-size: x-large;
}
input[type=text] {
   
    border-radius: 10px;
     border: 1px solid black; /* Add a border to differentiate the input fields */
     height: 40px;
     width: 300px;
 }

.data-meaning{
    display: flex;
    justify-content: center;
}
.dict-heading{
    display: flex;
    justify-content: center;
    padding: 20px;
}


.meaning{
    font-size: x-large;
    padding: 50px;
}


